{# templates/navbar.html #}
<nav class="container">
    <ul>
      <li><strong><a href="/static" data-tooltip="Home" data-placement="right">TNSQUERY</strong></a></li>
    </ul>
    <ul>
      <li><a href="/api/docs#" data-tooltip="Try Me! (Interactive OpenAPI Docs)" data-placement="bottom">Docs</a></li>
      <li><a href="/search" data-tooltip="Search page" data-placement="bottom" class="contrast" role="button">Search</a></li>
      <li><a href="https://github.com/emirkmo/tnsquery" data-tooltip="Source Code" data-placement="bottom">GitHub</a></li>
      <li><a href="https://wis-tns.org/" data-tooltip="Transient Name Server (external!)" data-placement="bottom">TNS</a></li>
    </ul>
</nav>